@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&display=swap');

h1 {
  text-align: center;
  color: #1d3557;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #1d3557;
  font-size: 120%;
  font-family: "Open Sans";
  font-weight: bold;
}

h3 {
  text-align: center;
  color: #1d3557;
  font-size: 100%;
  font-family: "Open Sans";
  font-weight: bold;
}
h5 {
  text-align: center;
  font-size: 120%;
  font-family: "Open Sans";
  font-weight: bold;
}
h6 {
  text-align: center;
  font-size: 100%;
  font-family: "Open Sans";
  font-weight: bold;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;

  color: rgb(24, 21, 14); 
    background-color: #f1faee;
    padding: 20px;
    text-align: center;
    }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 600px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background-color: #512DA8;
  color: #ddd; }

.modal-body {
  background-color: #D1C4E9; }

.close {
  color: #ddd; }
  .close:hover {
    color: #fffaf0; }
